<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>

    <!-- <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oxygen"> -->
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxgwEwLseBS58clOpKVVF466iyc5YkHG4&libraries=places"></script>
</head>

<body>

    <nav style="background-color: #ED8924; height: 70px;">
        <div class="nav-wrapper nav-small alignment-text-logo">
            <ul id="nav-mobile" class="left hide-on-med-and-down nav-pad-img">
                <img class="responsive-img header-left-logo" src="/images/Website-06-06.png">
            </ul>

            <ul id="nav-mobile" class="right hide-on-med-and-down nav-pad-field">
                <li><a class="top-font-s" href="#">{{user}}</a></li>
            </ul>

            <ul id="nav-mobile" class="right hide-on-med-and-down nav-pad-field top-font-s">
                <li><a class="top-font-s" href="#">TRACK</a></li>
            </ul>

            <ul id="nav-mobile" class="right hide-on-med-and-down nav-pad-field top-font-s">
                <li><a class="top-font-s" href="#">MY ORDERS</a></li>
            </ul>
        </div>
    </nav>

<div class="container">
    <div class="row pop-margin-align">
        <div class="col s12 card-panel" style="background-color: #ED8924;padding-bottom:20px;">
          <!--<div class="" style="height: 100px;">-->
            <div>
                <img class="responsive-img arrow-dimen" src="/images/icons/Website-11.png">
            </div>

            <div class="from-to-listing">
                <div class="origin-from">
                  <span>Indian Institute of Technology Roorkee, Roorkee, Uttarakhand</span>
                </div>

                <div class="line-separator">
                  <hr>
                  <img class="responsive-img right arrow-right" src="/images/icons/Website-12.png">
                </div>

                <div class="destination-to">
                  <span> Kashmere Gate, Gokhale Marg, Inter State Bus Terminal, New Delhi</span>
                </div>
            </div>
          <!--</div>-->
        </div>

        <div class="col s12 m12 l12 z-depth-3 card-panel" style="background-color:white;margin-top:-15px;">
            <div class="row content-card">
                <div class="col s12 m6 content-card-left">
                    <div class="container" style="padding-top:10px;">
                        <div class="row">
                            <div class="col s1">
                                <img class="responsive-img" src="/images/icons/website-truck-detail.png">
                            </div>
                            <div class="col s11 truck-detail">
                                <label>SELECT TRUCK TYPE AND QUANTITY</label>

                                <div class="row truck-types">
                                    <div class="col s4">
                                        <img class="responsive-img" src="/images/icons/website-small-truck.png">
                                    </div>
                                    <div class="col s4">
                                        <img class="responsive-img" src="/images/icons/website-medium-truck.png">
                                    </div>
                                    <div class="col s4">
                                        <img class="responsive-img" src="/images/icons/website-large-truck.png">
                                    </div>
                                </div>

                                <div class="row weight-range">
                                    <div class="col s4">
                                        <span>100 - 500 kgs</span>
                                    </div>
                                    <div class="col s4">
                                        <span>500 - 5000 kgs</span>
                                    </div>
                                    <div class="col s4">
                                        <span>5000 kgs - 50 tons</span>
                                    </div>
                                </div>

                                <div class="row quantity-input">
                                    <div class="col s4 input-field">
                                        <input placeholder="0" id="small_quantity" type="text" class="validate">
                                    </div>
                                    <div class="col s4 input-field">
                                        <input placeholder="0" id="medium_quantity" type="text" class="validate">
                                    </div>
                                    <div class="col s4 input-field">
                                        <input placeholder="0" id="large_quantity" type="text" class="validate">
                                    </div>
                                </div>
                            </div>

                            <div class="col s1">
                                <img class="responsive-img" src="/images/icons/website-comment.png">
                            </div>
                            <div class="col s11 comment-detail">
                                <label>COMMENTS TO SUPPLIER</label>

                                <div class="row comment-content">
                                    <div class="col s12 input-field">
                                        <input placeholder="Description of load and truck type" id="comment_description" type="text" class="validate">
                                    </div>
                                </div>
                            </div>

                            <div class="col s6 m8">
                                <a class="waves-effect waves-light yellow darken-4 btn">Request Quotes</a>
                            </div>
                            <div class="col s6 m4">
                                <a class="waves-effect waves-light grey btn">Previous</a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col s12 m6" id="content-card-right">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/pikaday.js"></script>
<script type="text/javascript">
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
</script>

<script type="text/javascript">
        function initMap() {
            var chicago = {lat: 41.85, lng: -87.65};
            var indianapolis = {lat: 39.79, lng: -86.14};

            var map = new google.maps.Map(document.getElementById('content-card-right'), {
                center: chicago,
                scrollwheel: false,
                zoom: 7
            });

            var directionsDisplay = new google.maps.DirectionsRenderer({
                map: map
            });

            // Set destination, origin and travel mode.
            var request = {
                destination: indianapolis,
                origin: chicago,
                travelMode: google.maps.TravelMode.DRIVING
            };

            // Pass the directions request to the directions service.
            var directionsService = new google.maps.DirectionsService();
            directionsService.route(request, function(response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    // Display the route on the map.
                    directionsDisplay.setDirections(response);
                }
            });
        }

        // initialize autocomplete when the window has finished loading.
        google.maps.event.addDomListener(window, 'load', initMap);
    </script>

</body>
</html>
