<!DOCTYPE html>
<html>
<head>
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/styles/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/styles/style.css"/>

<!-- <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oxygen"> -->
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/customindex.js"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>

<script>
function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(51.508742,-0.120850),
    zoom:5,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<nav style="background-color: #ED8924; height: 70px;">
    <div class="nav-wrapper nav-small alignment-text-logo">
        <ul id="nav-mobile" class="left hide-on-med-and-down nav-pad-img">
            <img class="responsive-img header-left-logo" src="/images/Website-06-06.png">
        </ul>

        <ul id="nav-mobile" class="right hide-on-med-and-down nav-pad-field">
            <li><a class="top-font-s" href="#"><%= session.fname %> <%=session.lname %></a></li>
        </ul>

        <ul id="nav-mobile" class="right hide-on-med-and-down nav-pad-field top-font-s">
            <li><a class="top-font-s" href="#">TRACK</a></li>
        </ul>

        <ul id="nav-mobile" class="right hide-on-med-and-down nav-pad-field top-font-s">
            <li><a class="top-font-s" href="#">MY ORDERS</a></li>
        </ul>

    </div>
</nav>

<div class="container">
    <div class="row pop-margin-align">
    <!-- <img class="responsive-img main-bg-img" src="/images/bg.jpg"> -->
      <div class="col s12 card-panel" style="background-color: #ED8924;">
          <div class="" style="height: 100px;">
              <div>
                <img class="responsive-img arrow-dimen" src="/images/icons/Website-11.png">
              </div>

              <div class="from-to-listing">
              <div class="origin-from">
                  <span><%= to %></span>
              </div>
              <div class="line-separator">
                  <hr>
                  <img class="responsive-img right arrow-right" src="/images/icons/Website-12.png">
              </div>
              <div class="destination-to">
                  <span><%= from %></span>
              </div>
              </div>
          </div>
      </div>
      <div class="col s12 z-depth-3 card-panel" style="background-color: white; margin-top: -15px;">
        <div class="mid-sec-bar">
            <div class="left-over-bridge left">
                <div class="row">
                    <form class="col s12">
                        <img class="responsive-img layout-icons" src="/images/icons/Website-13.png">
                        <div class="select-date">
                            <span id="select-date-font">SELECT DATE</span></br>
                            <input type="date" class="datepicker" style="width: 45%; padding-top: 0px; padding-bottom: 0px; font-size: 13px;">
                        </div>
                        <div class="strictness-label">
                            <p>
                            <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                            <label for="filled-in-box">
                            <span style="margin-top:-10px;">Strict with date</span>
                            </label>
                            </p>
                        </div>
                    </form>
                </div>

                <div class="load-down row">
                        <form class="col s12">
                            <div style="width: 45%">
                                <img class="responsive-img load-icons" src="/images/icons/Website-06-06-12.png">
                                <div class="select-date">
                                    <span id="select-date-font">SELECT LOAD TYPE</span>
                                </div>
                            </div>

                            <div class="load-weight right">
                                <img class="responsive-img load-icons" src="/images/icons/Website-06-06-13.png">
                                <span id="select-date-font">ENTER WEIGHT</span>
                            </div>

                            <div class="scrollbar" id="scroll-style">
                                <div class="force-overflow">
                                    <table><tbody>
                                    <div class="weight-load-dynamic" id="dynamic-load-detail">
                                        <tr class="dynam-cell">
                                        <td><a href="#" onclick="addOneTd()"><img class="responsive-img load-icons" src="/images/icons/Website-06-06-14.png"></td></a>
                                        
                                        <td class="item-type-ds">
                                            <input type="text" id="item-type-1" class="validate">
                                            <label for="text" data-error="wrong" data-success="right"></label>
                                        </td>
                                        <td class="item-ton-ds">
                                            <input type="text" id="item-ton-1" class="validate">
                                            <label for="number" data-error="wrong" data-success="right"></label>
                                        </td>
                                        <td class="item-ton-text">
                                            <span>Tons</span>
                                        </td>
                                        <td class="item-kg-ds">
                                            <input type="text" id="item-kg-1" class="validate">
                                            <label for="number" data-error="wrong" data-success="right"></label>
                                        </td>
                                        <td class="item-ton-text">
                                            <span>Kgs</span>
                                        </td>
                                        </tr>
                                    </div>
                                    </tbody></table>
                                </div>
                            </div>
                        </form>
                        <a class="waves-effect btn button-next" style="background-color:#ED8924">Next</a>           
                </div>
                
            </div>
            <hr class="vertical-line">
            <div class="right-over-bridge right" id="googleMap">
            </div>
        </div>
      </div>
    </div>
</div>

<script src="/js/pikaday.js"></script>
<script type="text/javascript">
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
</script>
</body>
</html>
