<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <!-- Enable the line below -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/styles/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/styles/style.css"/>
    <link type="text/css" rel="stylesheet" href="/styles/test.css"/>

    <!-- Enable the line below -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oxygen">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>

    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/customindex.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxgwEwLseBS58clOpKVVF466iyc5YkHG4&libraries=places"></script>
</head>

<body>
<script type="text/javascript">
    // initialize autocomplete when the window has finished loading.
    google.maps.event.addDomListener(window, 'load', initializeAutocomplete);

    <% if(session.errorMessage){ %>
        Materialize.toast("Failed! <%= session.errorMessage%>", 4000);
        <% session.errorMessage = null; %>
    <% } %>
</script>

<% if(!session.authenticated){ %>
<div class="login-panel">
    <div class="login-screen-cross">
        <img class="responsive-img the-cross-img right" src="/images/icons/Website-11.png" onclick="unhhide()">
    </div>
    <iframe src="/home/login" name="targetframe" id="login-screen" allowTransparency="true" scrolling="no" frameborder="0" >
    </iframe>
</div>
<% } %>
<div id="base-upper">
</div>

<div id="header">
    <nav style="height:30px" class="main-nav-bar">
        <div class="nav-wrapper nav-small">
	        <ul id="nav-mobile" class="left hide-on-med-and-down">
		        <li class="collection-item avatar">
			        <img class="main-top-icon" src="/images/icons/Website-08.png" />
		        </li>
		        <li class="nav-li-small">+91-942-622-6294</li>
		        <li class="collection-item avatar">
			        <img class="main-top-icon" src="/images/icons/Website-09.png" />
		        </li>
                <li class="nav-li-small">care@maruti3pl.co.in</li>
	        </ul>
	        <ul id="nav-mobile" class="right hide-on-med-and-down">
                <% if(!session.authenticated){ %>
                <li><a href="#" onclick="hhide()">LOGIN || SIGNUP</a></li>
                <% } else{ %>
                <!-- Dropdown Trigger -->
                <a class='dropdown-button btn' href='#' data-activates='dropdown1' style="background-color: rgba(236, 137, 36, 0)"><%= session.fname %> <%= session.lname %></a>

                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content dd'>
                    <li><a href="/profile">My profile</a></li>
                    <li><a href="/orders">Orders</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
                <% } %>
	        </ul>
        </div>
    </nav>
</div>
<div class="container">
    <div class="center-align" id="logo">
        <img src="/static/logo.png" width="241" height="172"/>
    </div>
    <div class="row">
        <form class="col s12 offset-s1" <% if(session.authenticated){ %> id="order-form" method="post" action="/t1" <% } %>>
        <div class="row center-align z-depth-3" id="input-form">
        <div class="input-field col s6">
            <div class="input-field col s12">
              <input id="from" type="text" class="validate" name="from" placeholder="">
              <label for="from">Source</label>
            </div>
        </div>
        <div class="input-field col s6">
            <div class="input-field col s12">
              <input id="to" type="text" class="validate" name="to" placeholder="">
              <label for="to">Destination</label>
            </div>
        </div>
        </div>
        <div class="submit valign-wrapper" style="float: left;">
            <a class="btn-floating btn-large waves-effect waves-light valign <% if(!session.authenticated){ %> btn modal-trigger"<% } else { %>" onclick="getSupplier()"<% } %> id="submit" href="#modal1"><i class="material-icons">play_arrow</i></a>
        </div>
        </form>
    </div>
    <!-- " -->
    <% if(session.authenticated){ %>
    <!-- Modal Structure -->
    <span id="email" style="visibility: hidden">Email</span>
    <% }else{ %>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Enter your email</h4>
            <div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" name="email">
                </div>
            </div>
            </div>
        </div>

        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="getSupplier()">NEXT</a>
        </div>
    </div>
    <% } %>

    <a href="#modal2" style="visibility: hidden" class="btn modal-trigger" id="supavai1"></a>
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h3>Availablity!</h3>
            <div>
            <h4 id="directRP" style="font-size: 20px;">Direct route suppliers :<span id="directR"></span></h4>
            <h4 id="returnRP" style="font-size: 20px;">Return route suppliers :<span id="returnR"></span></h4>
            <h4 style="margin-top: -100px; font-size: 20px;"><span id="errorM"></span></h4>
            </div>
        </div>

        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" style="margin-top: 100px;">OK</a>
        </div>
    </div>

    <div class="row" id="tagline">
        <div class="col s12">
            <h5 class="center-align">Choose the best transporter for moving your goods</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <a class="waves-effect waves-light btn z-depth-4" id="discover" onclick="send_mofo_toast()">Discover</a>
        </div>
    </div>
    
</div>


</body>
</html>
