<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/styles/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/styles/login.css"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    
</head>
<body>
    <div class="container">
        <div class="row pop-margin-align">
            <div class="col s6 card-panel login-pop" style="margin-left: 25%;">
                <div class="login-signup-buttons">
                    <a class="waves-effect waves-light btn-large signup-button" onclick="signup()">Signup</a>
                    <a class="waves-effect waves-light btn-large" onclick="login()">Login</a>
                </div>

                <div class="signup-form">
                    <div class="row">
                        <form id="customer-signup-form" class="col s12" method="post" action="/customer/signup">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="firstname" type="text" class="validate" name="firstname">
                                    <label for="firstname">First Name</label>
                                </div>

                                <div class="input-field col s6">
                                    <input id="lastname" type="text" class="validate" name="lastname">
                                    <label for="lastname">Last Name</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate" name="email">
                                    <label for="email">Email</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="phone" type="number" class="validate" name="phone">
                                    <label for="phone">Phone</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="password" type="password" class="validate" name="password">
                                    <label for="password">Password</label>
                                </div>

                                <div class="input-field col s6">
                                    <input id="cpassword" type="password" class="validate" name="cpassword">
                                    <label for="cpassword">Re-enter Password</label>
                                </div>
                            </div>
                            <a class="btn" onclick="signupFormSubmit()">NEXT</a>
                        </form>
                    </div>
                </div>

                <div class="login-form">
                    <div class="row">
                        <form id="customer-login-form" class="col s12" method="post" action="/customer/signin">
                
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate" name="email">
                                    <label for="email">Email</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" class="validate" name="password">
                                    <label for="password">Password</label>
                                </div>
                            </div>

                            <a class="btn" onclick="loginFormSubmit()">NEXT</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>