.hidden-top{
    width: 100%;
    height: 100%;
}

.login-pop{
    background-color: rgba(71, 17, 17, 0);
    padding-bottom: 20px;
    y-overflow: hidden;
    height:  485px;;
}

.login-signup-buttons{
    display: inline;
}

.signup-button{
    margin-left: 25%;
}

.login-form{
    visibility: hidden;
    color: white;
    position: relative;
    top: -440px;
}

.signup-form{
    color: white;
}