.nav-small
{
    line-height: 30px;
    font-size:1 rem;
}

.nav-li-small
{
    margin-left:40px;
}

.icon-small
{
    display:inline;
    line-height:0px;
}
#container {
    position:absolute;
    width:100%;
    height:100%;    
}
#overlay {
    width: 100%;
    height: 100%;
    z-index: 10;
}

#base-upper {
    position:absolute;
    top:0px;
    width: 100%;
    height: 55%;
    background-image: url("../static/bg.jpg");
    background-size: cover;
    z-index:-10;
}
#content {
    position:absolute;
    width:70%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align: center; 
}

#logo
{
    padding:5%;
    height:5%;
}

#input-form
{
    margin-top:30px;
}

.main-bg-img{
    position: relative;
    top: -35px;
    z-index: -1;
}

.main-nav-bar{
    background-color: rgba(105, 16, 2, 0);
    opacity: .9;
}

.main-top-icon{
    position: relative;
    top: 2px;
    left: 76px;
    height: 25%;
    width: 25%;
}

.header-left-logo{
    width: 23%;
    margin-right: 20px;
    margin-top: -3px;
}

.alignment-text-logo{
    display: block;
    top: 20px;
}

.top-font-s{
    font-size: 12px;
}

.nav-pad-field{
    padding-right: 25px;
}

.nav-pad-img{
    padding-left: 25px;
    padding-bottom: 10px;
}

.pop-margin-align{
    margin-top: 30px;
}

.arrow-dimen{
    width: 2%;
    margin-top: 10px;
}

#input-form{
    background-color:white;
    padding:20px;
    width:80%;
    margin:auto;
    float: left;
}

#discover{
    background-color:#ED8924;
}

#tagline{
    color:#bdbdbd;
    margin-top:40px;
}
#select-label{
    color:#ED8924;
}
#submit{
    background-color:#ED8924;
}

.submit{
    height:116px;
    margin-left:-27.75px;
}

.from-to-listing{
    color: white;
    font-size: 12px;
    padding-left: 80px;
    margin-top: -10px;
}

.origin-from{
    padding-bottom: 5px;
}

.destination-to{
    padding-top: 5px;
}

.line-separator{
    width: 45%;
    color: rgba(105, 16, 2, 0);
    opacity: .9;
}

hr{
    height: 0px;
    border-top: 1px solid #ccc;
}

.arrow-right{
    width: 3%;
    margin-top: -15px;
    margin-right: -25px;
}

.mid-sec-bar{
    height: 400px;
}

.left-over-bridge{
    width: 55%;
    padding-left: 40px;
}

.right-over-bridge{
    width: 45%;
    height: 100%;
}

.vertical-line{
    width: 0.5px; 
    height: 399px; 
    display: inline-block;
    margin-left: -20px;
    margin-top: -1px;
}

.scrollbar{
    float: left;
    height: 140px;
    width: 94%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
}

.force-overflow{
    min-height: 105px;
}


/*scroll-bar :: written only for Chrome !*/
#scroll-style::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#scroll-style::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

#scroll-style::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(237, 137, 36)), color-stop(0.72, rgb(237, 137, 36)), color-stop(0.86, rgb(237, 137, 36)));
}

.layout-icons{
    width: 15px;
    margin-top: 40px;
}

.load-icons{
    width: 15px;
}

.select-date{
    margin-top: -23px;
    margin-left: 35px;
}

#select-date-font{
    font-size: 14px;
    font-weight: bold;
    font-family: monospace;
    color: #ED8924;
}

.datepicker{
    width: 30%;
}

.strictness-label{
    margin-top: -10px;
}

[type="checkbox"].filled-in:checked + label:after {
    width: 11%;
    height: 55%;
    background-color: #ED8924;
}

.load-down{
    margin-top: 40px;
}

.load-weight{
    width: 45%;
    margin-top: -22px;
}

.item-type-ds{
    width: 30%;
}

.item-ton-ds{
    padding-left: 40px;
    width: 20%;
}

.item-kg-ds{
    width: 15%;
}

/* The input box height overriden*/
input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    height: 2em;
}

/**/

.item-ton-text{
    color: #AA9EA4;
    font-size: 13px;
}

.dynam-cell{
    height: 20px;
}

/*Override th and td properties*/
.dynam-cell td, .dynam-cell th{
    padding-top: 4px;
    padding-bottom: 4px;
}

.button-next{
    margin-top: 25px;
}

.input-field label.active {
    font-size: 1.1rem;
}

.input-field label {
    color: #E28802;
    font-weight: bold;
    top: 1.2rem;
}

.content-card-left {
    border-right: 1px solid #030303;
    height: 100%;
    display: block;
}

.content-card {
    margin-bottom: 0px;
    height: 400px;
}

.truck-detail label, .comment-detail label {
    color: #ED8924;
    font-size: 14px;
}

.weight-range {
    font-size: 10px;
    position: relative;
    top: -10px;
}

.quantity-input {
    font-size: 10px;
    position: relative;
    top: -40px;
}

.truck-types {
    position: relative;
    top: 10px;
}

.dd{
    background-color: rgb(38, 22, 6);
}