.login-panel{
    visibility: hidden;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
}

#login-screen{
    width: 100%;
    height: 100%;
}

.the-cross-img{
    width: 2%;
    margin-right: 50px;
    margin-top: 30px;
}

body{
    /*overflow: hidden;*/
}